<%- include('partials/header'); -%>

<h5>Title: <%=blog.title%></h5>
<div>Brief description:: <%=blog.desc%></div>
<p><%=blog.body%></p>
<p>Author: <i><%=blog.author%></i></p>
<p>tag(s): <%=blog.tag%></p>
<p>reading time:<%=blog.reading_time%>mins</p>
<p>Number of views: <%=blog.read_count%></p>

<%- include('partials/footer'); -%>
